.container
    display: flex
    max-width: 40%
    margin: auto

.small-container
    width: 100%
    flex-direction: column

.card
  background-color: #f4f4f4
  border-radius: 8px
  padding: 20px
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  width: 100%

.rating-container
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    margin: 1rem
    padding: 0.5rem
    border-radius: 5px
  
button
  width: 100%
  margin-left: 1rem
  border: none
  padding: 1rem
  border-radius: 30px
  background-color: #2e3b5a
  color: #fbffff
  
.rating-icon, .rating-text
  color: inherit

.rating-icon
    width: 20px

.rating-text, .rating
    margin:0
    padding:0

.reaction
  background-color: rgba(255, 0, 0, 0.2)

.memory
  background-color: rgba(255, 255, 0, 0.2)

.verbal
  background-color: rgba(0, 128, 0, 0.2)

.visual
  background-color: rgba(128, 0, 128, 0.2)

.reaction
  .rating-icon,.rating-text
    color: #b30000

.memory
  .rating-icon,.rating-text
    color: #b3b300

.verbal
  .rating-icon,.rating-text
    color: #006400

.visual
  .rating-icon,.rating-text
    color: #4b0082

.heading
  margin-left: 1rem